
.nav-link{
    color: dimgray !important;
} 
nav.navbar { 
    background: #ffffff96 !important; }


.navbar-link{
color: dimgray !important;
}
     

      .nav-link:hover{
  color: #006400 !important;
  }
 


  