.contenedor {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: max-content;
	margin-top: 30px;
	margin-bottom: 30px;
	figure {
		position: relative;
		height: 300px;
		cursor: pointer;
		width: 400px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			transition: all 400ms ease-out;
			will-change: transform;
		}
		.capa {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(100,145,115,0.7);
			transition: all 400ms ease-out;
			opacity: 0;
			visibility: hidden;
			text-align: center;
			h3 {
				color: #fff;
				font-weight: 400;
				margin-bottom: 120px;
				transition: all 400ms ease-out;
				margin-top: 30px;
			}
		}
		&:hover {
			>.capa {
				opacity: 1;
				visibility: visible;
				h3 {
					margin-top: 130px;
					font-family: $fonttexto;
				}
			}
			>img {
				transform: scale(1.3);
			}
		}
	}
}

.contenedor2 {
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	.card {
		width: 330px;
		height: 430px;
		border-radius: 8px;
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
		&:hover {
			transform: translateY(-15px);
			
		}
		img {
			width: 330px;
			height: 220px;
		}
		h4 {
			font-weight: 600;
			font-family: $fonttexto;
			padding-top: 10px;
			color: rgb(2, 75, 0);
		}
		p {
			padding: 0 1rem;
			font-size: 16px;
			font-weight: 300;
			font-family: $fonttexto;
		}
		a {
			font-weight: 500;
			text-decoration: none;
			color: #006400;
		
		}
	}
}



